@charset "utf-8";
#Container {
	width: 1200px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: hsla(359,90%,47%,1.00);
	margin-top: 0px;
}
#PageHead {
	width: 1200px;
	height: 50px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
	color: hsla(0,37%,93%,1.00);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#CenterBody {
	width: 1200px;
	height: 750px;
	float: left;
	background-color: #9d9b9b;
}
#CenterBody #part1 {
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/01-Men/01.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 400px;
}
#CenterBody #part2 {
	width: 500px;
	height: 150px;
	margin-left: 95px;
	margin-right: auto;
	float: left;
	margin-top: 50px;
	border: 1px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/01-Men/02.jpg);





	background-position: 1
.#QNANpx 0%;
	background-position: 0% -60px;
}
#CenterBody  #part3 {
	width: 500px;
	height: 150px;
	margin-right: auto;
	margin-left: 10px;
	float: left;
	margin-top: 50px;
	border-radius: 3px;
	border: 1px solid #000000;
	background-image: url(Bite%20Site/01-Men/03.jpg);
	background-position: left 0%;
}
#CenterBody #part4 {
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-size: 1000px 400px;
	background-image: url(Bite%20Site/02-Women/05.jpg);
}
#CenterBody #part5 {
	width: 500px;
	height: 150px;
	margin-left: 95px;
	margin-right: auto;
	float: left;
	margin-top: 50px;
	border: 1px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/02-Women/02.jpg);






	background-position: 1
.#QNANpx 0%;
	background-position: 20 -10px;
}
#CenterBody #part6 {
	width: 500px;
	height: 150px;
	margin-right: auto;
	margin-left: 10px;
	float: left;
	margin-top: 50px;
	border-radius: 3px;
	border: 1px solid #000000;
	background-image: url(Bite%20Site/02-Women/03.jpg);
	background-position: left -20px;
}
#CenterBody #part7 {
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-size: 1000px 400px;
}
#Section1 {
	width: 495px;
	height: 398px;
	float: left;
	border: 2px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/03-Kids/01.jpg);
	background-size: 495px 398px;
}
#Section2 {
	width: 495px;
	height: 398px;
	float: left;
	border: 2px solid #000000;
	border-radius: 3px;
	margin-left: 2px;
	background-image: url(Bite%20Site/03-Kids/02.jpg);
	background-size: 495px 398px;
}

#CenterBody #part8 {
	width: 500px;
	height: 150px;
	margin-left: 95px;
	margin-right: auto;
	float: left;
	margin-top: 50px;
	border: 1px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/03-Kids/04.jpg);












	background-position: 1
.#QNANpx 0%;
	background-size: 500px 150px;
}
#CenterBody #part9 {
	width: 500px;
	height: 150px;
	margin-right: auto;
	margin-left: 10px;
	float: left;
	margin-top: 50px;
	border-radius: 3px;
	border: 1px solid #000000;
	background-image: url(Bite%20Site/03-Kids/03.jpg);
	background-size: 500px 150px;
}




#PageFoot {
	width: 1200px;
	height: 200px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
}
#Locator {
	width: 1200px;
	height: 15px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	margin-top: -20px;
}
#Bottoms {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: hsla(116,69%,31%,1.00);
	margin-top: -15px;
}
#Bottoms ul li {
	list-style-type: none;
	width: 100px;
	height: 30px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
	margin-left: 60px;
	margin-top: -15px;
	color: hsla(0,35%,93%,1.00);
}
#Bottoms ul li:hover  {
	list-style-type: none;
	width: 100px;
	height: 30px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
	margin-left: 60px;
	margin-top: -15px;
	color: hsla(0,54%,51%,0.94);
}
#Bottoms ul li:active  {
	list-style-type: none;
	width: 100px;
	height: 30px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
	margin-left: 60px;
	margin-top: -15px;
	color: #9D9B9B;
	text-decoration: none;
}
.logoico {
	width: 50px;
	height: 50px;
	margin-left: 0px;
}
#PageFoot #Firstpart {
	width: 400px;
	height: 200px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
}
#PageFoot #Secondpart {
	width: 400px;
	height: 200px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
}
#PageFoot #Thirdpart {
	width: 400px;
	height: 200px;
	float: left;
	background-color: hsla(0,0%,0%,1.00);
}
#Firstpart ul li {
	text-align: left;
	color: #C3A6A7;
	list-style-type: none;
	font-size: large;
	text-decoration: underline;
}
#Secondpart ul li {
	color: #C3A6A7;
	text-align: left;
	font-size: large;
	text-decoration: underline;
	list-style-type: none;
}
#Thirdpart ul li {
	color: #C3A6A7;
	text-align: left;
	text-decoration: underline;
	list-style-type: none;
	font-size: large;
}
#Firstpart ul li:hover  {
	text-align: left;
	color: hsla(0,54%,51%,0.94);
	list-style-type: none;
	font-size: large;
	text-decoration: underline;
}
#Secondpart ul li:hover  {
	color: hsla(0,54%,51%,0.94);
	text-align: left;
	font-size: large;
	text-decoration: underline;
	list-style-type: none;
}
#Thirdpart ul li:hover  {
	color: hsla(0,54%,51%,0.94);
	text-align: left;
	text-decoration: underline;
	list-style-type: none;
	font-size: large;
}

#Firstpart ul li:active  {
	text-align: left;
	color: #9D9B9B;
	list-style-type: none;
	font-size: large;
	text-decoration: underline;
}

#Secondpart ul li:active  {
	color: #9D9B9B;
	text-align: left;
	font-size: large;
	text-decoration: underline;
	list-style-type: none;
}

#Thirdpart ul li:active  {
	color: #9D9B9B;
	text-align: left;
	text-decoration: underline;
	list-style-type: none;
	font-size: large;
}
.TCenter {
	margin-right: auto;
	margin-left: auto;
	font-size: large;
	text-align: center;
	text-decoration: underline;
	color: #171616;
	background-color: #9D9B9B;
	font-style: oblique;
	font-weight: bold;
}
#Section3 {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	float: left;
	border: 2px solid #000000;
	border-radius: 3px;
	background-image: url(Bite%20Site/04-Acssories/01.jpg);
	background-size: 300px 300px;
}
#Section4 {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	float: right;
	border-radius: 3px;
	border: 2px solid #000000;
	background-image: url(Bite%20Site/04-Acssories/02.jpg);
	background-size: 300px 300px;
}
#Section5 {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 3px;
	border: 2px solid #000000;
	background-image: url(Bite%20Site/04-Acssories/03.jpg);
	background-size: 300px 300px;
}
#Section6 {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-radius: 3px;
	border: 2px solid #000000;
	background-size: 300px 300px;
	background-image: url(Bite%20Site/04-Acssories/04.jpg);
}
#CenterBody #Slidz {
	height: 300px;
	position: absolute;
	left: 350px;
	bottom: 200px;
	width: 500px;
	margin-bottom: 50px;
	background-image: url(Bite%20Site/shop-front-of-bite.png);
}
#Slider-bar   {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 350px;
	bottom: 10px;
	overflow-x: hidden;
	overflow-y: visible;
}
#tranzz {
	width: 10px;
	height: 400px;
	background-color: #9D9B9B;
	margin-right: 12px;
	float: right;
	-webkit-transition: all 2s ease-in 1s;
	-o-transition: all 2s ease-in 1s;
	transition: all 2s ease-in 1s;
	margin-top: 0px;
}
#tranzz:hover {
	width: 400px;
	background-color: #9D9B9B;
	background-image: url(elissa2.jpg);
	background-position: 0px 500px;
}
